In [1]:
import pandas as pd
df=pd.read_csv("Railway_info.csv")
print("First 10 rows of the dataset:")
print(df.head(10))
print("\nBasic info about  the dataset:")
print(df.info())
print("\nMisssing Values in each column:")
print(df.isnull().sum())

First 10 rows of the dataset:
   Train_No    Train_Name           Source_Station_Name  \
0       107  SWV-MAO-VLNK               SAWANTWADI ROAD
1       108  VLNK-MAO-SWV                   MADGOAN JN.
2       128  MAO-KOP SPEC                   MADGOAN JN.
3       290  PALACE ON WH             DELHI-SAFDAR JANG
4       401  BSB BHARATDA                    AURANGABAD
5       421  LKO-SVDK FTR                   LUCKNOW JN.
6       422  SVDK-LKO FTR  SHRI MATA VAISHNO DEVI KATRA
7       477  FTR TRAIN NO                         SIRSA
8       502  RJPB-UMB FTR        RAJENDRANAGAR TERMINAL
9       504  PNBE-BTI FTR                     PATNA JN.

             Destination_Station_Name       days
0                         MADGOAN JN.   Saturday
1                     SAWANTWADI ROAD     Friday
2  CHHATRAPATI SHAHU MAHARAJ TERMINUS     Friday
3                   DELHI-SAFDAR JANG  Wednesday
4                        VARANASI JN.   Saturday
5        SHRI MATA VAISHNO DEVI KATRA    Tuesday
6                         LUCKNOW JN.     Monday
7                               SIRSA     Sunday
8                     AMBALA CANTT JN     Monday
9                         BATHINDA JN  Wednesday

Basic info about  the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11113 entries, 0 to 11112
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Train_No                  11113 non-null  int64
 1   Train_Name                11113 non-null  object
 2   Source_Station_Name       11113 non-null  object
 3   Destination_Station_Name  11113 non-null  object
 4   days                      11113 non-null  object
dtypes: int64(1), object(4)
memory usage: 434.2+ KB
None

Misssing Values in each column:
Train_No                    0
Train_Name                  0
Source_Station_Name         0
Destination_Station_Name    0
days                        0
dtype: int64